.z-window {
    background: #d00000 !important;
}

.z-window-header {
    font-size: 14px !important;
    font-weight: bold !important;
    color: white !important;
}

.z-window-content {
    padding: 0 !important;
}

.z-grid {
    border: none !important;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html, body {height:100%;}

body {
    margin-top: 12px;
    width: 100%;
    height: auto;
    background-image: white /*linear-gradient(to right, white, #e3c8ba)*/;
    padding: 0 20px 20px 20px;
}

a {
    color: #d00000;
    text-decoration:none;
}

a:hover::after {
    transform: scaleX(1);
}

a::after {
    transform: scaleX(0);
    transition: transform 0.2s;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #d00000;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #000000;
    font-family: 'Open-sans', sans-serif;
}

footer {
    float: left;
}

.a-about {
    font-size: 16px;
    font-weight: bold;
}

.btn-busca {
    flex: 1;
    display: inline-block;
    border:solid 1px #d00000;
    border-radius:0 10px 10px 0;
    font-weight:bold;
    background:#d00000;
    color: #f7f7f7;
    transition: background 0.2s;
}

.btn-busca:active, .btn-busca:hover, .btn-busca:focus {
    outline: none;
    background: #a70000;
}

.txt-busca {
    flex: 5;
    padding: 0.3em;
    padding-left:0.5em;
    font-size:18px;
    border:solid 1px #d00000;
    border-right: none;
    border-radius:10px 0 0 10px;
    transition: background 0.2s;
}

.txt-busca:active, .txt-busca:focus {
    outline: none;
    background-color: #fff7f7;
}

.div-busca {
    align-self: center;
    margin-top: 30px;
    padding: 0 15vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.logos {
    width: 100%;
    height: 100px;
}

.logo {
    height: 70px;
    float: center;
    margin-top: 5px;
    margin-left: 25px
}

.svg {
    width: 100%;
    height: 25vh;
}

.footer-about {
    position:absolute;
    bottom:25px;
    font-size: 25px;
}